html {
  font-size: 16px;
}
html::-webkit-scrollbar {
  width: 15px;
}
html::-webkit-scrollbar-thumb {
  background: rgba(181, 116, 45, 0.89);
}
html::-webkit-scrollbar-thumb:hover {
  border-radius: 50px;
}

body {
  background: rgb(33, 33, 33);
}
body .main, body .footer {
  position: relative;
  top: 70px;
}

.navbar {
  background-color: rgba(181, 116, 45, 0.89);
}
.navbar .navbar-brand img {
  height: 1.8em;
  width: 1.8em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(181, 116, 45, 0.89);
}
.footer .parrafo-ft {
  font-size: 0.8em;
  width: 100%;
}

.titulo {
  background-color: rgba(181, 116, 45, 0.89);
  margin: 1em 0;
  font-size: 1em;
}

.cards-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  gap: 20px;
}
.cards-container .cards {
  background-color: rgba(60, 60, 60, 0.872);
  height: 18em;
  width: 60%;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.cards-container .cards .titulo-card {
  font-size: 1em;
  color: antiquewhite;
}
.cards-container .cards img {
  height: 85%;
  width: 100%;
  border-radius: 10px;
}
.cards-container .cards:hover {
  transform: scale(1.05);
}

.nosotros {
  background: rgba(60, 60, 60, 0.872);
  width: 100%;
}

.titulo-galeria {
  margin: 0.3em;
  color: antiquewhite;
}

.opciones {
  display: flex;
  flex-direction: column;
  margin: 1em;
  gap: 10px;
}
.opciones .op {
  border-radius: 10px;
}

.galeria {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: antiquewhite;
}
.galeria img {
  margin: 10px;
  height: 30%;
  width: 30%;
}
.galeria .card-galeria {
  display: flex;
  gap: 5px;
  width: 90%;
  margin: 10px;
  background: rgba(60, 60, 60, 0.872);
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.galeria .card-galeria .contend-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.galeria .card-galeria .contend-card h3 {
  font-size: 1rem;
  color: rgb(157, 145, 109);
  text-align: center;
}
.galeria .card-galeria .contend-card .boton {
  background-color: rgba(181, 116, 45, 0.89);
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 40%;
}
.galeria .card-galeria .contend-card .boton:hover {
  box-shadow: 2px 2px 8px rgba(223, 127, 32, 0.802), -2px -2px 8px rgba(223, 127, 32, 0.802);
}
.galeria .card-galeria:hover {
  transform: scale(1.05);
}

@media (min-width: 400px) {
  .cards-container .cards {
    height: 18em;
    width: 175px;
  }
}
@media (min-width: 760px) {
  #carouselExample .carousel-inner {
    height: 450px;
  }
  .titulo {
    font-size: 1.2em;
  }
  .cards-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
  .cards-container .cards {
    height: 18em;
    width: 175px;
  }
  .nosotros .nosotros-parrafo {
    padding: 20px;
  }
  .nosotros .nosotros-imag {
    background: no-repeat center url(../multimedia/image/logo2.png);
    background-size: contain;
    background-position: auto;
  }
}
@media (max-width: 219px) {
  .galeria img {
    height: 80%;
    width: 80%;
  }
  .galeria .card-galeria {
    display: flex;
    flex-direction: column;
  }
  .galeria .card-galeria h3 {
    text-align: center;
  }
}
@media (min-width: 450px) {
  .galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .galeria .card-galeria {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 190px;
  }
  .galeria .card-galeria img {
    height: 250px;
    width: 95%;
    position: relative;
    left: -5px;
  }
  .galeria .card-galeria .contend-card {
    padding: 10px;
  }
  .galeria .card-galeria .contend-card h3 {
    font-size: 1.2em;
  }
  .opciones {
    display: flex;
    flex-direction: row;
  }
  .footer {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
