

//HOME


//titulo home
.titulo{
    background-color: $bgGeneral;
    margin: 1em 0;
    font-size: 1em;
}
//cards home

.cards-container{
    @include d-flex (flex,center, column);
    margin: 20px 0;
    gap: 20px;
    
    .cards{
        background-color: $bgCards;
        height: 18em;
        width: 60%;
        border-radius:10px ;
        transition: .5s;
        box-shadow: 10px 10px  10px rgba(0,0,0,.5);
        .titulo-card{
            font-size: 1em;
            color: antiquewhite;
        }
        img{
            height: 85%;
            width: 100%;
            border-radius: 10px;
        }
        &:hover{
            transform: scale(1.05);

        }
    }
}

//Nosotros Home

.nosotros{
    background: $bgCards;
    width: 100%;
}





//Series y Peliculas 

//titulo

.titulo-galeria{
    margin: .3em;
    color: antiquewhite;
}
//opciones generales 
.opciones{
    display: flex;
    flex-direction: column;
    margin: 1em ;
    gap: 10px;
    .op{
        border-radius: 10px;
    }
}

//cards
.galeria{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: antiquewhite;
    img{
        margin: 10px;
        height:30% ;
        width: 30%;
    }
    .card-galeria{
        display: flex;
        gap: 5px;
        width: 90%;
        margin: 10px;
        background: $bgCards;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0,0,0,.5);

        .contend-card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            h3{
                font-size: 1rem;
                color: rgb(157, 145, 109);
                text-align: center;
                
            }
            
            .boton{
                
                background-color: $bgGeneral;
                border: none;
                border-radius: 5px;
                margin: 0 auto;
                margin-bottom: 20px;
                width: 40%;
                &:hover{
                    box-shadow:  2px 2px 8px rgba(223, 127, 32, 0.802), -2px -2px 8px rgba(223, 127, 32, 0.802) ;
                }
            }
        }
        &:hover{
            transform: scale(1.05);
        }
    }
    
}
