
//Home




@media (min-width:400px) {
    .cards-container{
    .cards{
        height: 18em;
        width: 175px;
        

    }
    }
    
}

@media (min-width:760px) {
    #carouselExample{
        .carousel-inner{
            height: 450px;
            
        }
    }

    .titulo{
        font-size: 1.2em ;
    }
    .cards-container{
        @include d-flex (flex,center, row);
        justify-content: center;
        gap: 60px;
    .cards{
        height: 18em;
        width: 175px;

    }
    }
    .nosotros{
        .nosotros-parrafo{
            padding: 20px;
            
        }
    .nosotros-imag{
        background: no-repeat center url(../multimedia/image/logo2.png);
        background-size: contain;
        background-position: auto;

    }
}
}









//Series y peliculas 






@media (max-width:219px) {

    
    .galeria{
        img{
            height: 80%;
            width: 80%;
            
            
        }
        .card-galeria{
            display: flex;
            flex-direction: column;
            h3{
                text-align: center;
            }
        }
    }
    
}

@media (min-width:450px){

    
    .galeria{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .card-galeria{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width:190px;
            img{
                height: 250px;
                width: 95%;
                position: relative;
                left: -5px;
               
            }
            .contend-card{
                padding: 10px;
                h3{
                    font-size: 1.2em;
                }
            }
        }
    }
    .opciones{
        display: flex;
        flex-direction: row;
    }
    .footer{
        text-align: center;
    }
}