@mixin d-flex($flex , $align , $direccion){
    display: $flex;
    align-items: $align;
    flex-direction: $direccion;
}
@mixin column-position($flex,$direction,$justify){
            display: $flex;
            flex-direction: $direction;
            justify-content: $justify;
}
